<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.segway.robot.TrackingSample_Phone">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware2.camera" />
    <uses-feature android:name="android.hardware2.camera.autofocus" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
        <uses-library
            android:name="com.projecttango.libtango_device2"
            android:required="true" />
        <activity android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LocalizationActivity"
            android:label="@string/app_name_long"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateUnchanged"
            >
        </activity>
        <activity
            android:name=".AdfUuidListViewActivity"
            android:label="@string/app_name_long"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name=".PoiListActivity"
            android:label="@string/app_name_long"
            android:configChanges="orientation|screenSize">
        </activity>

        <activity
        android:name=".PathListActivity"
        android:label="@string/app_name_long"
        android:configChanges="orientation|screenSize">
    </activity>

        <activity
            android:name=".InfoListActivity"
            android:label="@string/app_name_long"
            android:configChanges="orientation|screenSize">
        </activity>

        <meta-data
            android:name="packageTo1"
            android:value="com.robot.olpit.loomonavigation"></meta-data>
    </application>

</manifest>